

.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;

}
.ulList{
    margin: 40px;
}
.container1{
    width: 100%;
    box-sizing: border-box;
}
.inputDetails{
    width: 80%;
}
.para{
    padding-right: 20px;
    padding-bottom: 60px;
    
}
.w{
    width: 70%;
    box-sizing: border-box;
    border-radius: 15px;
    border-width: 2px;
}

.para1{
    margin-left: 20px;
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 3px;
}
.mainContainer{
    
    background-color:white;
    background-size:cover ;
    
    
}